# Directorios
node_modules/
dist/

# Archivos de configuración
npm-debug.log
yarn-error.log
.env

# Archivos generados durante la ejecución
coverage/
build/

# Dependiendo del sistema operativo, puedes añadir estos
.DS_Store
Thumbs.db